body    {
    background-color: #2196F3;
}

#main-div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
    background-color: #ffffff;
    margin: 20px;
    padding: 5px;
}

.strike {
    text-decoration: line-through;
}

.nostrike   {
    text-decoration:    none;
}