<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tasks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="./stylesheets/homepage.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
    </head>
    <body class="text-center" data-ng-app="Homepage">
        <form name="homeform" class="form-signin" novalidate>
            <div data-ng-controller="HomepageController" data-ng-init="init()">
                <h1 class="h1 mb-3 font-weight-normal" data-ng-bind="header"></h1>
                <div class="form-group">
                    <div class="text-left font-weight-normal" data-ng-show="showsignup">Username</div>
                    <input type="text" name="username" class="form-control" placeholder="Enter username" data-ng-model="username" 
                        pattern="/^[a-zA-Z0-9]+[_a-zA-Z0-9]*$/"
                        data-ng-minlength="5"
                        required autofocus>
                    <!-- <div class="small text-left" data-ng-show="homeform.username.$valid" data-ng-hide="homeform.username.$invalid">Looks good!</div> -->
                    <!-- <div class="small text-left" data-ng-show="homeform.username.$invalid" data-ng-hide="homeform.username.$valid">Username required!</div> -->
                    <div class="small text-left" data-ng-show="homeform.username.$invalid && homepage.username.$dirty">Username too short!</div>
                    <div class="small text-left" data-ng-show="homeform.username.$invalid" data-ng-hide="homeform.username.$valid">Username can contain only letter and underscores.</div>
                </div>
                <div class="form-group">
                    <div class="text-left font-weight-normal" data-ng-show="showsignup">Password</div>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" data-ng-model="password" data-ng-minlength="8" required>
                    <span class="text-muted" data-ng-bind="passwordstatus" data-ng-show="showpasswordstatus"></span> 
                </div>
                <div class="checkbox mb-3" data-ng-hide="showsignup">
                    <label>
                        <input type="checkbox" value="remember-me" ng-model="checkbox.value"> Remember me
                    </label>
                </div>
                <br data-ng-show="showsignup">
                <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-bind="submitButton" data-ng-click="submit(isValid)"></button>
                <div>
                    <span data-ng-bind="link" class="font-weight-light small"></span> <a href="" class="font-weight-light small" data-ng-bind="linktext" data-ng-click="toggle()"></a>
                </div>
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
            </div>
        </form>
        <script src="./ngapp.js"></script>
        <script src="./controllers/homepage.controller.js"></script>
    </body>
</html>
