<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tasks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="./stylesheets/board.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
    </head>
    <body>
        <div class="container" data-ng-app="Tasks">
            <div id="main-div" class="h-50 w-50 justify-content-center align-items-center" data-ng-controller="MainController">
                <div id="todo-head" class="card text-white bg-dark">
                    <div class="card-header">
                        <div class="row h6">
                            <div class="col-md-12">
                                <p class="h1 text-center">{{::day}}</p>
                            </div>
                        </div>
                        <div class="row h6">
                            <div class="col-md-8">
                                <p class="h6 text-center">{{::date}}</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <button type="button" class="btn btn-sm btn-dark h6">Tasks <span class="badge badge-light" data-ng-bind="count"></span></button>
                            </div>
                        </div>
                        <div class="row h6">
                            <div class="col-md-10">
                                <form name='taskinp' class="form-group">
                                    <input type="text" title="Enter a task" class="form-control" placeholder="Enter a task" data-ng-model="taskname">
                                </form>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" title="Click to add task" class="btn btn-primary" data-ng-click="add()">Add</button>
                            </div>
                        </div>
                        <div class="row h6 alert alert-warning alert-dismissible fade show" id="error-window" data-ng-hide="hidden" data-ng-init="hidden=true">
                            <strong>{{conflict}}</strong>
                            <button type="button" class="close" data-ng-click="close()">×</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="todo-board" class="card-columns" data-ng-controller="taskController">
                    <div  data-ng-repeat="task in tasks track by $index">
                        <div class="card bg-light border-dark shadow mb-5 rounded">
                            <div class="card-body">
                                <p class="card-text" ng-class="task.checked ? 'strike text-muted' : 'nostrike font-weight-bold' " data-ng-bind="task.task"></p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" ng-attr-title={{mark}} class="btn-light" data-ng-click="toggleCheck(task)">
                                        <i class="material-icons">check</i>
                                    </button>
                                    <button type="button" title="Edit task" class="btn-light" data-ng-click="edit(task)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" title="Delete task" class="btn-light" data-ng-click="del(task._id)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <br>
                                <small class="text-muted font-weight-light font-italic">
                                    Created At <span data-ng-bind="task.createdAt | date:'shortTime':'+530'"></span>
                                </small>
                                <br>
                                <small class="text-muted font-weight-light font-italic">
                                    <span data-ng-bind="task.createdAt | date:'longDate'"></span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./ngapp.js"></script>
        <script src="./controllers/taskboard.controller.js"></script>
    </body>
</html>